html {
  background-color: #22272e;

  font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

#calculate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
  
  background-color: #fff;
  border-radius: 6px;

  padding: 20px;

  color: #000;
}

#calculate.showResults {
  /* Remove absolute positioning so we can scroll the result properly */
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0, 0);

  margin: auto;
  margin-top: 20px;
}

#averages,
#history {
  display: flex;
  flex-direction: column;
  
  width: 100%;
}

#history .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  margin-top: 10px;
}

#history .row .cell {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  text-align:center;

  width: 100%;
}

.row img {
  width: 60px;
  height: 60px;
}

#averages {
  flex-direction: row;

  margin: auto;
  margin-top: 20px;
}

#averages div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.avg_cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 20px;
}

.avg_cell .title {
  font-weight: bold;
  font-size: 16px;
}

.avg_cell .title_cell {
  font-weight: bold;
  font-size: 20px;
}

.red {
  color: #ff0000;
}

.green {
  color: #00ff00;
}